// FONTS
@font-face { font-family: proxima_thin; src: url(../fonts/Proxima-Nova-Thin.otf);}
@font-face { font-family: proxima_light; src: url(../fonts/Proxima-Nova-Light.otf);}
@font-face { font-family: proxima_light_italic; src: url(../fonts/Proxima-Nova-Light-Italic.otf);}
@font-face { font-family: proxima_medium; src: url(../fonts/Proxima-Nova-Regular.otf);}
@font-face { font-family: proxima_bold; src: url(../fonts/Proxima-Nova-Bold.otf);}
@font-face { font-family: proxima_black; src: url(../fonts/Proxima-Nova-Black.otf);}

@font-face { font-family: fat_frank; src: url(../fonts/FatFrank-Free.otf);}

$thin: proxima_thin, sans-serif;
$body: proxima_light, sans-serif;
$body-italic: proxima_light_italic, sans-serif;
$medium: proxima_medium, sans-serif;
$bold: proxima_bold, sans-serif;
$black: proxima_black, sans-serif;
// $black: fat_frank, sans-serif;


@import './components/hero-section';