<div class="hero-wrapper">

  <header>
    <nav>
      <div class="nav-wrapper">
        <div class="logo">
            <img src="../assets/img/rayfinn-logo.svg" alt="Rayfinn Digital Logo">
        </div>
        <div>
            <ul class="hero-menu">
                <li>PORTFOLIO</li>
            </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="grid-x">
      <div class="cell large-12">
        <h1 class="text-center">Digital desinger and developer</h1>
      </div>
    </div>
  </div>

</div>
