  <div class="home-wrapper full-header">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-12 home-content">
          <h5 class="text-center">Digital desinger and developer</h5>
          <h1 class="text-center">Excited to build whatever comes next!</h1>
          <p class="text-center">I'm a designer and front-end developer based in New Zealand. I have a passion for both design and technology. I spend my spare time scouring the internet for inspiring and fresh designs and ways on how to build them. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ducimus officiis labore nostrum totam, dolor placeat atque nemo eius, harum et? Mollitia obcaecati minima porro voluptate, facere sint perspiciatis molestias!</p>
      </div>
    </div>
  </div>
