<header>
  <nav>
    <div class="nav-wrapper" id="nav">
      <div class="logo">
          <img src="../assets/img/rayfinn-logo.svg" alt="Rayfinn Digital Logo">
      </div>
      <div class="portfolio-menu">
          <div>
            <span class="portfolio-btn">PORTFOLIO</span>
            <div class="portfolio-btn-underline"></div>
          </div>
      </div>
    </div>
    <!-- overlay -->
    <div class="overlay-nav">
      <span id="close-menu">close</span>
      <div class="nav-overly-item">
        <h1>User experience</h1>
      </div>
      <div class="nav-overly-item">
        <h1>Chatbots</h1>
      </div>
      <div class="nav-overly-item">
        <h1>Front end Web Development</h1>
      </div>
      <div class="nav-overly-item">
        <h1>Graphic design</h1>
      </div>
    </div>
  </nav>
</header>
