
<footer class="main-footer">
  <div class="grid-container">
    <div class="grid-x">

      <div class="cell large-4 medium-4 footer-contact">
        <figure>
          <a href="./#home"><img src="../assets/img/rayfinn-logo.svg" alt="Rayfinn Digital Logo"></a>
        </figure>
        <p>Get in touch</p>
        <p>Rath Prak</p>
        <p>+64 (0)21 126 0568</p>
        <p>Digital designer / Front end developer</p>
        <p>Wellington, New Zealand.</p>
      </div>

      <div class="cell large-4 medium-4 footer-social">
        <div class="social-icons">
          <a target="_blank" class="contact-item" href="mailto:rathanap@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          <a target="_blank" class="contact-item" href="https://github.com/rath-prak"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a target="_blank" class="contact-item" href="https://twitter.com/rathpnz"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a target="_blank" class="contact-item" href="https://nz.linkedin.com/in/rath-prak-97761a40"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="cell large-4 medium-4 footer-copyright">
          <a class='backtop-btn'><img src="../assets/img/arrow-circle.svg"></a>
          <p class="copy-right">&copy; Copyright 2017 Rayfinn Digital.</p>
      </div>

    </div>
  </div>
</footer>
