  <div class="home-wrapper full-header">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-12 hero-content">
          <h5 class="text-center">Digital desinger and developer</h5>
          <h1 class="text-center">Excited to build whatever comes next!</h1>
          <p class="text-center">I'm a designer and front-end developer based in New Zealand. I have a passion for both design and technology. I spend my spare time scouring the internet for inspiring and fresh designs and ways on how to build them. </p>
        </div>
      </div>
    </div>
    <div class="contact-menu">
      <span><a target="_blank" href="mailto:rathanap@gmail.com">Contact</a></span>
      <span><a target="_blank" href="https://github.com/rath-prak">Github</a></span>
      <span><a target="_blank" href="https://twitter.com/rathpnz">Twitter</a></span>
      <span><a target="_blank" href="https://nz.linkedin.com/in/rath-prak-97761a40">LinkedIn</a></span>
    </div>
    <div class="home-blurb">
      <p>designer <span>and</span> front end developer</p>
    </div>
  </div>
