<section class="home-content">
  <div class="grid-x">
    <div class="cell large-6 aside-graphic text-center">
      <span><img src="../assets/img/chatbot-desktop-mockup.svg" alt=""></span>
    </div>
    <div class="cell large-6 aside-article" id="waypoint-test">
      <h5 class="sub-heading item-fade">Chatbots</h5>
      <h1 class="main-heading item-fade">Bluey the survey bot</h1>
      <p class="item-fade">A personal UX/UI project which explores conversational interface and chatbots for research and feedback. The Messenger bot that facilitates surveys in a fun and easy way.
      </p>
      <div class="btn-primary">
        <p>Explore</p>
      </div>
    </div>
  </div>
</section>

<section class="home-content2">

</section>
