<section class="home-about-section">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-6 large-offset-4">
        <h2 id="waypoint-test">Conversational User Interface
        </h2>
        <p>The Digital Asset Platform delivers flexible infrastructure for regulated financial institutions to share processes and data securely, on a need-to-know basis, without the need for reconciliation. It combines a permissioned Distributed Ledger with a powerful financial modeling language to ensure that each institution operates from a single source of truth.
        </p>
      </div>
    </div>
  </div>
</section>
